<footer>
    <div class="footer mt-5">

        <div class="row">
            <div class="col-4">
                <ul>
                    <a class="francois_red  ">FranÇois </a><br><br>
                    <p>Con FranÇois convierte tu antojo en un gusto. Disfruta de nuestro delicioso Quiche Lorraine,
                        Algiot,
                        Ratatouille, Soupe à l´oignon, Cassoulet, y más. Conoce aquí nuestro menú</p>
                </ul>
            </div>

            <div class="col-4 mt-5">
                <ul>
                    <b>Contactanos</b>
                    <p>Francois Colombia, Inversiones INT Colombia S.A.S, NIT: 900 439 409 -2
                        Calle 86a 13-42
                        Bogotá, Colombia
                        Llámanos: 321-4138566 <br>
                        Email: contactenos@Francois.co
                        reservas: reservas@Francois.co</p>
                    <a class="sic" href="https://www.sic.gov.co/">Superintendencia de Industria y Comercio SIC</a>


                </ul>
            </div>

            <div class="col-4 mt-5">
                <ul>

                    <b>Siguenos</b><br>
                    <a href="https://es-la.facebook.com/"><img src="assets/img/facebook.png" alt="" height="40px" width="40px"
                            class="img-hover"> </a>
                    <a href="https://twitter.com/"><img src="assets/img/gorjeo.png" alt="" height="40px" width="40px"
                            class="img-hover"></a>
                    <a href="https://www.instagram.com/?hl=es"><img src="assets/img/instagram.png" alt="" height="40px"
                            width="40px" class="img-hover"></a>
                    <a href="https://wa.link/vx3she"><img src="assets/img/WHATSAPP.png" alt="" height="50px" width="50px"
                            class="img-hover"></a>

                </ul>
            </div>


        </div>


    </div>

</footer>