<div class="card mb-12 mt-5 container">

    <div class="row g-0">
        <div class="col-md-6">
            <img src="assets/img/platos fuertes/fuera-le-francois-villon-un-restaurante-frances-en-rue-de-boeuf-en-el-casco-antiguo-de-lyon-francia-2a38f77.jpg"
                class="img-fluid rounded-start hvr-bob  mt-3" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h1 class="card-title navbar-brand">FranÇois</h1>
                <p class="card-text titulos ">FranÇois es un restaurante francés ubicado en la zona de
                    Chapinero,
                    Fundado Desde 1977, su cheff propietario Moises Fernández hace de la gastronomía francesa el
                    perfecto disfrute de la buena mesa y el vino.

                    El ambiente clásico rodeado de lienzos pintados a lo ancho de todas las paredes, evocan los
                    maravillosos años del siglo XIX. Este ambiente romantico al calor de la chimenea y de la
                    música francesa, son el complemento ideal de la mejor cocina francesa, La carta es variada y
                    desde las entradas encontramos manjares como doce escargots de borgoña, merguez de cordero y
                    Sopa francesa..</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-12 mt-1 container">

    <div class="row g-0">
        <div class="col-md-6">
            <h1 class="card-title navbar-brand"> </h1>
            <p class="card-text titulos">Entre los platos fuertes se ofrecen carnes, aves, tallarines, pescados
                y mariscos. Se recomienda probar el Delicia de la Poularde, el Pato Cointreau y la Langosta a la
                Thermidor.

                Para el postre La Cremé Brulée, Crepes Suzette, los Bananos Flambés al Cointreau son una buena
                opción.

                Gran variedd de licores, vinos franceses y Chilenos completan la carta para acompañar los
                platos.

                La Poularde es el sitio correcto si se busca una experiencia parisina a la hora de compartir la
                mesa.</p>

        </div>
        <div class="col-md-6">
            <div class="card-body">


                <img src="assets/img/platos fuertes/Bocuse.jpg" class="img-fluid rounded-start hvr-bob" alt="...">
            </div>
        </div>
    </div>
</div>