@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
.title_1
{
    font-size: 200px;
    font-family: 'Bilbo Swash Caps', cursive;
}
.logo_v
{
    background-color: #ffffff;
}
