<div class=" platos_fuertes container mt-5">

    <h3 class="platos">Platos Fuertes </h3>

    <div class="row align-items-center">
        <div class="col">
            <div class="dtl13">
                <P class="titulos"> Algiot</P>
                <img src="assets/img/platos fuertes/Algiot.jpg" alt="">
                <div class="dtl">
                    <h3>PRECIO: 77.000</h3>
                    <p>puré de patatas muy espeso, más de lo normal, que está mezclado con queso sin afinar,
                        conocido como tomme fraîche</p>

                        <button type="button" onclick="mensajeCarrito(77000)" class="comprar">Agregar</button>

                </div>

            </div>
        </div>

        <div class="col">
            <div class="dtl13">
                <P class="titulos">Cassoulet</P>
                <img src="assets/img/platos fuertes/Cassoulet.jpg" alt="">
                <div class="dtl">
                    <h3>PRECIO: 65.000</h3>
                    <p>alubias blancas y se acompañan con carnes de diferentes tipos. Pueden cocinarse con
                        pollo, cerdo o incluso vacuno</p>
                        <button type="button" onclick="mensajeCarrito(65000)" class="comprar">Agregar</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="dtl13">
                <P class="titulos"> Confit de pato</P>
                <img src="assets/img/platos fuertes/Confit-de-pato.jpg" alt="">
                <div class="dtl">
                    <h3>PRECIO: 46.000</h3>
                    <p>Se sala el trozo y se escalfa en su propia grasa. El proceso entero dura casi 3 días.
                        Luego, se sirve con patatas asadas como guarnición.</p>
                        <button type="button" onclick="mensajeCarrito(46000)" class="comprar">Agregar</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="dtl13">
                <P class="titulos"> Coq au vin</P>
                <img src="assets/img/platos fuertes/Coq-au-vin.jpg" alt="">
                <div class="dtl">
                    <h3>PRECIO: 52.000</h3>
                    <p>estofado de pollo (aunque también puedan usarse otros tipos de carne), con nabos y
                        cebollas</p>
                        <button type="button" onclick="mensajeCarrito(52000)" class="comprar">Agregar</button>

                </div>
            </div>
        </div>
    </div>


    <div class="menu2 mt-5">

        <div class="row align-items-center">
            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> Merluza al beurre blanc</P>
                    <img src="assets/img/platos fuertes/Merluza-al-beurre-blanc.jpg" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 39.000</h3>
                        <p>troncos o lomos de merluza que se sirven con una salsa especial, la que da nombre al
                            plato, la salsa beurre blanc.</p>
                            <button type="button" onclick="mensajeCarrito(39000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> quiche lorraine</P>
                    <img src="assets/img/platos fuertes/Quiche-lorraine.jpg" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 37.000</h3>
                        <p>tarta salada hecha con pasta brisa, crema de leche y huevo. Se aromatiza con nuez
                            moscada y pimienta, y se le añaden trozos de panceta</p>
                            <button type="button" onclick="mensajeCarrito(37000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> Ratatouille</P>
                    <img src="assets/img/platos fuertes/Ratatouille.jpg" alt="">
                    <div class="dtl">
                        <P class="titulos"> Merluza al beurre blanc</P>
                        <h3>PRECIO: 61.000</h3>
                        <p>guiso a base de ajo, pimiento, calabacín, cebollas y berenjenas. Una vez cocinado, se
                            añaden especias como tomillo, laurel, albahaca y orégano.</p>
                            <button type="button" onclick="mensajeCarrito(61000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> Soupe Oignon</P>
                    <img src="assets/img/platos fuertes/Soupe-Oignon.jpg" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 49.000</h3>
                        <p>Las cebollas están cocinadas muy lentamente en mantequilla y aceite. Después, se
                            sirven en cuencos y se añaden rebanadas de pan con queso gratinado</p>
                            <button type="button" onclick="mensajeCarrito(49000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="postres container mt-5">

        <h3 class="platos">Postres</h3>

        <div class="row align-items-center">
            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> macarons</P>
                    <img src="assets/img/platos fuertes/macarons.jpg" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 12.000</h3>
                        <p>Sus colores son tan atractivos como la gran cantidad de sabores que puedes encontrar.
                            Son galletas hechas con azúcar glas, azúcar, huevo y almendra.

                            Pruébalos en: Pierre Hermé o Ladurée.</p>

                            <button type="button" onclick="mensajeCarrito(12000)" class="comprar">Agregar</button>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> montblanc</P>
                    <img src="assets/img/platos fuertes/montblanc-2-@renasml.jpg.webp" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 16.000</h3>
                        <p>Es imposible no rendirse a los pies de esta montaña hecha de merengue y castañas.
                            ¿Sabías que su nombre viene porque se parece a las montañas Mont Blanc?

                            Pruébalo en: Carl Marletti.</p>
                            <button type="button" onclick="mensajeCarrito(16000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> tarte tatin</P>
                    <img src="assets/img/platos fuertes/tarte-tatin-@twoandtwocafe.jpg.webp" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 17.000</h3>
                        <p>Y… voilà! El milagro de convertir una sencilla manzana en un postre absolutamente
                            delicioso se hace real con la tarte tatin.</p>
                            <button type="button" onclick="mensajeCarrito(17000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> saint honore</P>
                    <img src="assets/img/platos fuertes/saint-honore-@viqui1993.jpg.webp" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 18.000</h3>
                        <p>¿Una tarta hecha de profiteroles, crema, nata y caramelo? El menú del cielo debe
                            parecerse a la tarta Saint Honoré.

                            Pruébalo en: La Pâtisserie des rêves..</p>
                            <button type="button" onclick="mensajeCarrito(18000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="vinos container mt-5">

        <h3 class="platos">Vinos</h3>

        <div class="row align-items-center">
            <div class="col">
                <div class="dtl13">
                    <P class="titulos">louis roedere premier</P>
                    <img src="assets/img/platos fuertes/nv-louis-roederer-brut-premier.jpg" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 198.000</h3>
                        <p>No todos los vinos son champán, pero el Nv. Louis Roederer Brut Premier, sí lo es.
                            Esta denominación solo es legal para los caldos de uvas producidos en la región de
                            Champaña, zona norte de Francia.</p>

                            <button type="button" onclick="mensajeCarrito(198000)" class="comprar">Agregar</button>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> domaine faiveley</P>
                    <img src="assets/img/platos fuertes/domaine-faiveley-mercurey-clos-des-myglands-premier-cru.jpg"
                        alt="">
                    <div class="dtl">
                        <h3>PRECIO: 162.000</h3>
                        <p>Una muestra más de los mejores vinos franceses se hace presente en este Borgoña rojo,
                            que si bien no está entre los borgoñas de bajo costo, bien vale la pena pagar por su
                            alta calidad..</p>
                            <button type="button" onclick="mensajeCarrito(162000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> chateau de saint cosme</P>
                    <img src="assets/img/platos fuertes/2016-chateau-de-saint-cosme-gigondas.jpg" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 242.000</h3>
                        <p>El Chateau De Saint Cosme es de los vinos tintos o rojos del sur del Ródano
                            elaborados a partir de mezclas que salen de uvas de garnacha, cosechas tardías con
                            uvas muy vigorosas y productivas..</p>
                            <button type="button" onclick="mensajeCarrito(242000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="dtl13">
                    <P class="titulos"> chateau greysac</P>
                    <img src="assets/img/platos fuertes/2015-chateau-greysac.jpg" alt="">
                    <div class="dtl">
                        <h3>PRECIO: 211.000</h3>
                        <p>El Château Greysac es un delicado vino que ofrece un sabor y aroma a grosella negra y
                            roja, lo que le convierte en un clásico.</p>
                            <button type="button" onclick="mensajeCarrito(211000)" class="comprar">Agregar</button>

                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
