<nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top ">
    <div class="container-fluid">
        <a class="navbar-brand ms-3 hvr-wobble-bottom" href="index.html">FranÇois </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav prueba">
                <a class="nav-link active hvr-float-shadow ms-5" aria-current="page" [routerLink]="['menu']">MENU</a>
                <a class="nav-link active hvr-float-shadow" [routerLink]="['nosotros']">NOSOTROS</a>
                <a class="nav-link active hvr-float-shadow me-5" [routerLink]="['contactenos']">CONTACTENOS</a>
                <a class="nav-link active hvr-float-shadow me-5" [routerLink]="['login']">INGRESAR</a>
            </div>
            <a href=""><i class="fa-solid fa-cart-shopping carrito "></i></a>
        </div>
    </div>
</nav>